body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
img {
  position: center;
  background-size: cover;
  width: 100%;
  opacity: 1;
}
.overlay {
  top: 10rem;
  left: 10rem;
  bottom: 0;
  right: 0;
  position: absolute;
}

.content {
  display: flex;
  flex-direction: row;
  max-width: 50vw;
  text-align: center;
}
 
button {
  border-radius: 8px;
  width: 7rem;
  height: 3rem;
}

h1 {
  font-size: 4rem;
  position: relative;
  line-height: 4.5rem;
  z-index: 15;
  text-align: left;
  position: fixed;
  color: white;
}
