img {
  position: center;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
.astronaut {
  opacity: 0.4;
}
.overlay {
  top: 10rem;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.content {
  display: flex;
  flex-direction: row;
}

.title {
  font-size: 4rem;
  line-height: 4.5rem;
  z-index: 1;
  text-align: center;
  position: fixed;
  color: white;
  padding: 5rem;
}

