body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
// .banner {
//     width: 500px;
// }
.astronaut {
  position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  opacity: 1;
}
.overlay {
  top: 10rem;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.content {
  display: flex;
  flex-direction: row;
  // max-width: 50vw;

  .title {
    font-size: 4rem;
    line-height: 4.5rem;
    z-index: 15;
    text-align: center;
    position: fixed;
    color: white;
  }
}

button {
  border-radius: 10px;
  width: 7rem;
  height: 3rem;
  background: black;
  color: white;
  border: none;
  margin-left: 40px;
  cursor: pointer;
}
// .title {
//   font-size: 4rem;
//   line-height: 4.5rem;
//   z-index: 15;
//   text-align: center;
//   position: fixed;
//   color: white;
// }
