.menu {
    text-align: right;
    display: flex;
  }
  a.menu-link {
    padding: 0px 30px;
    text-decoration: none;
    font-size: 13pt;
    color: white;
    margin: 20px;
  
  }
  
  a.menu-link:hover {
    color:gray;
  }
  /* .banner {
    display: flex;
  } */
  img.logo {
    width: 10rem;
    padding-left: 1rem;
    height: auto;
    position: fixed;
    left: 0;
  }
  .links {
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100vw;
  }