.menu {
    align-items: center;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-evenly;
    text-align: right;
}
a {
    padding: 30px;
    text-decoration: none;
    font-size: 13pt;
    color: white;

    &:hover {
        color:lightgray;
    }
}
.logo {
    width: 10rem;
    padding-left: 1rem;
    height: auto;
    position: fixed;
    left: 0;
}
.links {
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100vw;
    opacity: 0.98;
}