.table-container {
    margin: 5rem;
}

table {
    border-collapse: collapse;
    background: white;
    width: 65vw;
  }
  th,
  td {
    text-align: left;
    // padding: 5px;
    font-size: 1.3rem;
    height: 70px;
  }
  th {
    background-color: #30313d;
    color: white;
    border: none;
  }
  tr:nth-child(even) {
    background: #eeeeee;
  }